/* manipulates whole page */

#mainPage{
    font: 1em/1.5 sans-serif, Arial;
    padding: 3% 10% 10% 10%;
    margin:0%;
    background: url("../images/homePage.jpg") no-repeat;
    color: #ffffff;
}
#signUpPage{
    font: 2em/1.5 sans-serif, Arial;
    padding: 3% 10% 10% 10%;
    margin:0%;
    background-color: gray;
    color: #ffffff;
    align-content: center;
}
#dashboardPage{
    font: 1em/1.5 sans-serif, Arial;
    background-color: gray;
    color: #ffffff;
    align-content: center;
}
.dashboard{
    padding: 0% 10% 10% 10%;
    margin:auto;
}

.dashboard__content{
    border: 2px rgb(100, 100, 30) solid;
    border-radius: 5px;
    padding: 2%
}
.dashboard__table{
    border: 3px burlywood solid;
    border-radius: 2.5px;
    width: 450px;
    text-align: center;
    font-size: 1.5em;
}
#questionBox{
    float: right;
    padding: 3%;
    margin: 3%;
    border: 5px outset;

}
.questionBox__item{
    padding: 13%;
}
.columnHead{
    font-size: 100%;
    font-style: bold;
    text-decoration: underline;
}
.column__Info--listItem{
    display: inline;
    color: lavenderblush;
}
/* manipulates elements in the navigation bar */

.mainPage__header{
    background-color: rgb(25, 36, 48);
    margin: auto;
    padding: 5px;
    border: 2px rgb(100, 100, 30) solid;
}

.navBar__heading{
    text-align: left;
    padding: 0px 0px 0px 5px;
    font-size: 3em
}

.navBar__list--listItem{
    color: #ffffff;
    text-decoration: none;
    padding:0px 0px 0px 5px
}

header ul{
    text-align: right;
    margin: auto;
    padding: 0% 0% 0% 50%;
}

.navBar__list{
    display: inline;
}

#signIn #signUp{
    margin: 20px;
    width: 50%;
    float: left;
}

.signIn__heading .signUp__heading{
    text-align: center;
    font-size: 2em;
}

.signIn__row .signIn__row{
    text-align: center;
}

.signIn__data .signUp__data{
    width: 200px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
    width: 300px;
    height: 30px;
}

input[type="submit"] {
    width: 50%;
    border-radius: 5px;
    background-color: rgb(205, 195, 221);
    color: #ffffff;
    font-size: 16px;
    padding: 03%;
}
.description{
    padding: 20% 0% 0% 0%;
    text-align: right;
    
}
#myFooter{
    text-align: center;
    font-size: 20px;
    padding: 22% 0% 0% 0%;
    text-decoration-line: underline;
    margin: 0%;
}
